
@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/opensansbold.woff2"),
    url("../fonts/opensansbold.woff");
  font-weight: 700;
}

* {
	box-sizing:border-box;
}
*:before,
*:after {
	box-sizing:border-box;
}

body {
  max-width: 1150px;
  margin: 0 auto;
	padding: 0;
	font-family: $opensans;
	font-size: 14px;
	line-height: 24px;
	color: black;
	background-color: white;
	font-style: normal;
}

img {
	max-width: 100%;
	height: auto;
}

a, 
a:hover, 
a:visited {
	text-decoration: none;
  cursor: pointer;
}

.contacts__google-map {
        height:400px;
        width:100%; 
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
