$mint-color: #63d1bb;
$font-darkgrey: #444444;
$footer-bg: #f1f1f1;

$sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", "Times New Roman", Times, serif;
$verdana: Verdana, $sans-serif;
$opensans: "Open Sans", $sans-serif;
$tahoma: Tahoma, $sans-serif;

$tablet: "min-width: 768px";
$desktop: "min-width: 1150px";

