.page-footer {
	background-color: $footer-bg;
	color: black;
	padding-top: 24px;
	padding-bottom: 24px;
}

.page-footer__logo {
	display: none;
}

.page-footer_develop {
	text-align: center;
}

.page-footer_develop span {
	font-family: $verdana;
	font-size: 18px;
	line-height: 34px;
	font-weight: 700;
}

.page-footer_develop img {
	margin-left: 24px;
	vertical-align: middle;
	filter: alpha (Opacity=80);
	opacity: 0.8; 
}

.page-footer_develop:hover img{
	filter: alpha (Opacity=100);
	opacity: 1; 
}

.page-footer_develop:active img{
	filter: alpha (Opacity=30);
	opacity: 0.3; 
}

.page-footer_develop:active span {
	filter: alpha (Opacity=30);
	opacity: 0.3; 
}

.page-footer__wrapper {
	position: relative;
	@include container();
	text-align: center;

	&::after {
		content: "";
		position: absolute;
		height: 1px;
		width: 260px;
		top: 50%;
		left:50%;
		margin-left: -130px;
		background-color: #e5e5e5;
	}
}

@media ($tablet) {

	.page-footer {
		padding-top: 50px;
	}

		.page-footer__wrapper {
			@include container-fluid();
			display: flex;
			justify-content: space-between;
			text-align: none;
			&::after{
				display: none;
			}
		}

		.page-footer__logo {
			display: block;
			-webkit-filter: grayscale(100%);
			        filter: grayscale(100%);
			-webkit-filter: brightness(0%);
			        filter: brightness(0%);

			&:hover {
				-webkit-filter: grayscale(0%);
				        filter: grayscale(0%);
				-webkit-filter: brightness(100%);
				        filter: brightness(100%);
			}

			&:active {
				opacity: 0.3;
			}
		}

		.page-footer .page-footer__social {
			display: flex;
			margin: 0 auto;
			padding-left: 47px;
		}
}

@media ($desktop)  {

	.page-footer .page-footer__social {
			padding-left: 46px;
		}

		.page-footer {
			padding-top: 54px;
			padding-bottom: 50px;
		}

}